.auth-container {
  width: 350px;
  padding: 25px;
  margin: 80px auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 0px 10px #ddd;
  text-align: center;
  background-color: #f9f9f9;
}

.auth-container h2 {
  margin-bottom: 20px;
  color: #333;
}

.auth-container input {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #aaa;
  border-radius: 5px;
  font-size: 14px;
}

.auth-container button {
  width: 95%;
  padding: 10px;
  background-color: royalblue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 12px;
  font-size: 15px;
}

.auth-container button:hover {
  background-color: darkblue;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.show-password {
  cursor: pointer;
  font-size: 13px;
  color: blue;
  margin-top: 5px;
}
